*,
#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #f7f7f7;
  --grey-1: #353535;
  --black: #242424;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--black);
  overflow: hidden;
  cursor: url("dot.png"), auto;
}
